@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
  color: #f2f2f2;
  text-align: center;
}

body {
  background-color: #222222;
  color: white;
}

h1 {
  font-size: 38px;
  margin: 30px 0px 30px 0;
  text-align: center;
}

form {
  position: relative;
}

input[type="text"] {
  width: 25%;
  height: 35px;
  margin-bottom: 30px;
  color: #222222;
  font-size: 21px;
  outline: none;
  border: none;
}

.add-btn {
  color: #222222;
  background-color: rgba(233, 12, 123, 0.87);
  height: 35px;
  border: none;
  position: absolute;
  top: 0;
  width: 69px;
  font-size: 18px;
  font-weight: bold;
}

ul > li {
  background-color: rgba(163, 7, 85, 0.767);
  width: 45%;
  margin: 20px auto 20px auto;
  list-style-type: none;
  height: 35px;
  font-size: 21px;
  text-align: start;
  padding: 5px 0 5px 15px;
  position: relative;
  font-weight: bold;
}

.todo-btn {
  color: #222222;
  background-color: rgba(233, 12, 123, 0.87);
  height: 45px;
  border: none;
  width: 69px;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

/* .edit-btn {
  color: #222222;
  background-color: rgba(233, 12, 123, 0.87);
  height: 45px;
  border: none;
  width: 69px;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  position: absolute;
  right: 71px;
  top: 0px;
  cursor: pointer;
} */

.input-edit {
  width: 45% !important;
  text-align: start;
}

.note-btn {
  color: #222222;
  background-color: rgba(233, 12, 123, 0.87);
  height: 45px;
  border: none;
  width: 69px;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  position: absolute;
  right: 142px;
  top: 0px;
  cursor: pointer;
}

.input-textarea {
  resize: none;
  color: #222222;
  font-size: 21px;
  text-align: left;
  width: 45%;
  height: 200px;
}

.readonly-textarea {
  white-space: pre-wrap;
  justify-content: center;
  resize: none;
  color: #222222;
  font-size: 21px;
  text-align: start;
  width: 45%;
  margin-top: -15px;
  background-color: rgb(240, 154, 197);
  padding: 5px 0px 5px 15px;
  margin-left: auto;
  margin-right: auto;
}

.edit-input-textarea {
  display: block;
  resize: none;
  color: #222222;
  font-size: 21px;
  text-align: left;
  width: 45%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
